.container{
   display: flex;
   gap: 35px;
   justify-content: space-around;
   align-items: center;
   padding-top: 150px;
}
.whatsapp{
    height: 400px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.mail{
    height: 400px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0px;
    
}
.phone{
    height: 400px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0px;
    
}
.whatsapp-heading{
    padding-top: 50px;
}
.mail-heading{
    padding-top: 50px;
}
.phone-heading{
    padding-top: 50px;
}


  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

.whatsapp{
    border-radius: 35px;
    box-shadow: 5px 5px 5px black;
}
.mail{
    border-radius: 35px;
    box-shadow: 5px 5px 5px black;
}
.phone{
    border-radius: 35px;
    box-shadow: 5px 5px 5px black;
}

.mail-content{
    padding-left: 20px;
    padding-right: 20px;
}

.whatsapp-content{
    padding-left: 20px;
    padding-right: 20px;
}

.phone-content{
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    background-color: #BB2525;
    background-image: linear-gradient(red, black);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 150px;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-right: 20px;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: black;
  }

  a:hover{
    background-color: yellow;
  
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  @media (max-width: 768px) {
    .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }
  
    ul {
      position: fixed;
      top: 80px;
      right: -100%;
      background-color: green;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    }
  
    ul li {
      margin: 20px 0;
      gap: 30px;
    }
  
    ul li a {
      font-size: 20px;
    }
  
    #check:checked ~ ul {
      right: 0;
    }
  }
  .berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .footer-override{
    margin-bottom: 0px;
  }

  .nav-item{
    color: white;
  }

  body {
    position: relative; 
    z-index: 1; 
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/blackbg.jpeg');
    /* background-size: cover; */
    opacity: 0.7;
    z-index: -1; 
  }
  
  .my-4{
    margin-bottom: 0%;
  }