*{
    padding: 0px;
    margin: 0px;
}
body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.heading {
    font-family: "Playwrite AU SA";
    font-optical-sizing: auto;
    font-size: larger;
    font-style: normal;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin-top: 80px;
    padding: 2em;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin: 2em 0;
}

input[type="text"] {
    padding: 0.5em;
    width: 300px;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 0.5em 1em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

.card-container {
    perspective: 1000px;
    margin: 20px;
}

.card {
    width: 300px;
    height: 400px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.card:hover {
    transform: rotateY(180deg);
}

.card .front, .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card .front {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .front img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.card .back {
    background-color: #fff;
    color: black;
    transform: rotateY(180deg);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer h1 {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.ing-navbar{
    background-color: #BB2525;
    background-image: linear-gradient(red, black);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 150px;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  ul li {
    margin-right: 20px;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: black;
  }

  a:hover{
    background-color: yellow;
  }

  .berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
  }
 
  body {
    position: relative; 
    z-index: 1; 
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/blackbg.jpeg');
    /* background-size: cover; */
    opacity: 0.5;
    z-index: -1; 
  }
  /* .bg{
    height: 100vh;
  } */
/* 
 .formdiv{
    position: relative; 
    z-index: 1; 
 }
 .formdiv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/blackbg.jpeg');
    background-size: cover;
    opacity: 0.5;
    z-index: -1; 
  } */
  
  /* #results{
    position: relative; 
    z-index: 1; 
 }
 #results::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/blackbg.jpeg');
    background-size: cover;
    opacity: 0.5;
    z-index: -1; 
  } */

 

  .card-container:hover .card .front, .card-container:hover .card .back {
    background-color: rgba(186, 178, 178, 0.9);
}
ul li a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: black;
    border-radius: 20px;
}

a:hover {
    background-color: rgb(252, 206, 0);
    border-radius: 4px;
}

body{
    overflow-x: hidden;
}

.search-button{
    height: 40px;
    width: 100px;
    border-radius: 25px;
    box-shadow: 2px 2px 2px black;
    color: #fff;
    font-size: 17px;
}

.textbox{
    height: 35px;
    font-size: 20px;
   
}

.im{
    display: flex;
}



.quicksand-tagline{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.tagline{
    font-family: "Quicksand";
    color: #FFC100;
}