body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #100c0c;
    overflow-x: hidden;
    size :auto;
  }
  .carousel-item.active{
    position: relative;
    width: 100%;
  }
  
  .lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: bolder;
    font-style: normal;
  }

 

.quicksand-funfact{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
  
  
  .tilt-warp-right-end {
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
  }
  
  .navbar.navbarnavbar-expand-lgnavbar-lightbg-light {
    padding: 0px 0px 20px 0px;
    size: 100%;
    background-color: #2f413e;
  }
  
  .navbar a:hover{
      background-color:#2f413e;
      color:rgb(17, 12, 12);
  
  }
  
  input[type="search"] {
    flex-basis: 500px;
  }
  
  
  footer {
    text-align: center;
    background-color: #bb0606;
    color: white;
    padding: 1.5rem 0;
    size-adjust: auto center;
  }
  
  /* Media queries for responsiveness */
  @media only screen and (max-width: 600px) {
    main {
        padding: 1.5rem;
    }
  }
  
  
header>.navlink{
    display: flex;
    justify-content:space-between;
    
}
.flex1{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-basis: 100%;
    
}
.flex2{
    display: flex;
    gap: 50px;
    justify-content:end;
    align-items: center;
    flex-basis: 150px
}
.inner-flex{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 500px;
    
   
}

a:hover{
  background-color: yellow;

}
  
.card{
  height: 400px;
  width: 400px;
  margin: 30px;
  
}

.card-background{
  display: flex;
  gap: 45px;
  justify-content: space-around;
}

.card-background>.card>.titlecard{
  display: flex;
  flex-direction: row;
}

.card-background>.card{
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  box-shadow: 10px 10px 10px black;
}

.funfact{
  height: 100px;
  text-align: center;
  align-items: center; 
  padding: 25px;
  font-family: "Quicksand";
}

.funfactcontent{
  font-family: "Quicksand";
  font-weight: 500;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.newcontent{
  height: 100%;
  margin-top: 60px;
  text-align: center;
}

/* .logooo{
  margin: 0px 25px 0px 0px;
} */

.petpuja{
  z-index: 1;
  font-weight: 500;
}

@font-face{
  font-family: myfont;
  src: url(./Comic\ Girls.otf);
}

.navicons{
  font-family: myfont;
}

.nav-item{
  color: white;
}

nav {
  background-color: #BB2525;
  background-image: linear-gradient(red, black);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 150px;
}

.logo {
  font-size: 1.5rem;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-right: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

ul li a:hover {
  color: black;
}

.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
    order: 1;
    margin-right: 20px;
  }

  ul {
    position: fixed;
    top: 80px;
    right: -100%;
    background-color: yellow;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  ul li {
    margin: 20px 0;
    gap: 30px;
  }

  ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }
}

.berkshire-swash-regular {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}




.card-background{
  position: relative; 
  z-index: 1; 
}

.card-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/blackbg.jpeg');
  /* background-size: cover; */
  opacity: 0.7;
  z-index: -1; 
}
